/* Bagian Header */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FEFBF6;
}

header {
    background-color: #2D9596;
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
}

header img {
    max-width: 100px;
    margin-right: 10px;
}

header h1 {
    margin: 0;
}

/* section search box */

#searchContainer {
    display: flex;
    align-items: center;
    margin-left: auto;
}

#searchBox {
    width: 200px;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#searchButton {
    background-color: #45a049;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#searchButton:hover {
    background-color: #9BCF53;
}



video {
    width: 100%;
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ccc;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input,
form textarea,
form button {
    width: 100%;
    margin-bottom: 10px;
}


/* Bagian footer */

footer {
    background-color: #2D9596;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Bagian Gallery */

.imageGallery {
    margin-top: 20px;
    text-align: center;
}

.imageGallery img {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.imageGallery img:hover {
    transform: scale(1.1);
}

/* Bagian SKU */

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

/* Gaya untuk baris ganjil */
table tr:nth-child(odd) {
    background-color: #FFF7F1;
}

/* Gaya saat kursor diarahkan ke baris */
table tr:hover {
    background-color: #FFE4C9;
}

/* Gaya untuk kolom harga */
table td:last-child {
    text-align: left;
}

/* Gaya untuk sel header */
table th {
    background-color: #2D9596;
    color: white;
}

/* Gaya untuk search box di header */
#searchBox {
    width: 200px;
    padding: 8px;
    margin-left: auto;
}

/* Bagian Registration */



#registrationForm {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#registrationForm label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

#registrationForm input,
#registrationForm textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#registrationForm button {
    background-color: #4CAF50;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#registrationForm button:hover {
    background-color: #45a049;
}

#registrationForm button:active {
    background-color: #39843d;
}
